<div class="dashboard">
  <div class="dashboard-user">
    {{drupal_view('bookings', 'block_1')}}
    {#<h3>{{'Private messages'|t}}</h3>#}
    {#{{drupal_view('private_messages', 'block_1')}}#}
  </div>
</div>
