<div class="row">
  <div class="col-12 col-sm-3">
    {{drupal_view('change_booking_details', 'block_1')}}
  </div>
  <div class="col-12 col-sm-9">
    {{ drupal_form('Drupal\\bo_system\\Form\\ChangeBookingForm') }}
  </div>
</div>